<div class="card">
  <img *ngIf="data.imageSrc" class="card-img-top" [src]="data.imageSrc" alt="">
  <div class="card-body">
    <h5 class="card-title">{{data.title}}</h5>
    <p class="card-text">{{data.description}}</p>
    <a *ngIf="data.tickets" href='{{data.tickets}}' target="_blank" class="btn btn-outline-secondary"><span class="oi oi-file"></span> Bilete</a>    &nbsp;
    <a *ngIf="data.facebookLink" href='{{data.facebookLink}}' target="_blank" class="btn btn-outline-secondary"><span class="oi oi-document"></span> Detalii</a>    &nbsp;
    <p class="card-text text-right">
      <small class="text-muted" *ngIf="data.speaker">#{{data.speaker}}</small>
      <small class="text-muted" *ngIf="data.singer">#{{data.singer}}</small>
      <small class="text-muted">#{{data.dateTime | date}}</small></p>
  </div>
</div>