<app-nav></app-nav>
<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<nav class="navbar fixed-bottom navbar-light bg-light" style="padding:0!important">
    <iframe scrolling="no" id="hearthis_at_track_1521753" width="100%" height="150" src="https://hearthis.at/embed/1521753/transparent_black/?hcolor=&color=&style=1&block_size=2&block_space=1&background=1&waveform=0&cover=1&autoplay=0&css=" frameborder="0" allowtransparency><p>Listen to <a href="https://hearthis.at/ekklesia/crestinul-de-tip-chiar-daca/" target="_blank">Crestinul de tip "chiar daca"</a> <span>by</span><a href="https://hearthis.at/ekklesia/" target="_blank" >ekklesia</a> <span>on</span> <a href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe></nav>