<div class="card">
  <img *ngIf="data.imageSrc" class="card-img-top" [src]="data.imageSrc" alt="">
  <div class="card-body ">
    <h5 class="card-title">{{data.title}}</h5>
    <p *ngIf="data.description" class="card-text">{{data.description}}</p>
    <!-- <div class="text-right"> -->
    <button (click)="play()" class="btn btn-outline-secondary"><span class="oi oi-media-play"></span> Ascultă</button> &nbsp;
    <!-- <button (click)="play()" class="btn btn-outline-secondary"><span class="oi oi-data-transfer-download"></span> Descarcă</button> -->
    <!-- </div> -->
    <p class="card-text text-right">
      <small class="text-muted" *ngIf="data.speaker">#{{data.speaker}}</small>
      <small class="text-muted">#{{data.dateTime | date}}</small>
    </p>
  </div>
</div>